.wrapper {
  min-height: 100vh;

  background: #f4f6f8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;

  padding: 30px;

  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.email {
  font-weight: 600;
  margin-top: 8px;
}

.logout {
  margin-top: 20px;

  padding: 10px 20px;

  border-radius: 8px;

  border: none;

  background: #e53e3e;
  color: white;

  cursor: pointer;

  transition: 0.2s;
}

.logout:hover {
  background: #c53030;
}
.ok {
  margin-top: 20px;

  padding: 10px 20px;

  border-radius: 8px;

  border: none;

  background: #3182ce;
  color: white;

  cursor: pointer;

  transition: 0.2s;
}
.info {
  display: flex;
  gap: 20px;
}
