.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 120px;
  border-radius: 10px;
}
